.bg-danger,.bg-success{
	padding:10px;
	border-radius:5px;
}

.form-group{
	margin-bottom: 0px;
}

html{
	height:100%;
	overflow-x:hidden;
}
body{
	height: 100%;
    margin: 0;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background: -webkit-linear-gradient(bottom,rgba(0,191,255,0),rgba(0,191,255,1));
	background: -o-linear-gradient(top,rgba(0,191,255,0),rgba(0,191,255,1)); 
	background: -moz-linear-gradient(top,rgba(0,191,255,0),rgba(0,191,255,1));
	background: linear-gradient(to top, rgba(0,191,255,0), rgba(0,191,255,1));
	background: -ms-linear-gradient(to top, rgba(0,191,255,0), rgba(0,191,255,1));
}